NEXT_PUBLIC_API_BASE_URL=http://localhost:8000

# Keycloak OAuth 2.0
KEYCLOAK_URL=https://keycloak.manage.inov-consulting.com
KEYCLOAK_REALM=PortaLis
KEYCLOAK_CLIENT_ID=portalis
KEYCLOAK_CLIENT_SECRET=yP9XgGAg8Q8Cbu44mE4VbeKu9DGFsKCX
